{% extends "::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Music Add
{% endblock %}

{% block body %}
    <h3>Add a track</h3>

    <hr>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}


{% endblock %}
