{% extends "::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Music Edit
{% endblock %}

{% block body %}
    <h3>Edit Track</h3>

    <hr>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}


{% endblock %}