{# src/XbrosBundle/Resources/views/adrien.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Adrien
{% endblock %}

{% block body %}

    <div class="fluid-row" id="header">

        <h1 class="title toc-ignore">adrien</h1>

    </div>


    <p><img src="https://github.com/adrtod.png" style="height:32px;"/> [<a href="http://adrien.tspace.fr/">website</a>] [<a href="https://github.com/adrtod">github</a>]</p>


{% endblock %}
