{# src/XbrosBundle/Resources/views/coding-rules.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Coding Rules
{% endblock %}

{% block body %}

    <div class="fluid-row" id="header">

        <h1 class="title toc-ignore">Coding rules</h1>

    </div>


    <ul>
        <li>Encodage UTF-8</li>
        <li>Noms de fichiers et dossiers : minuscule sans accent et sans espace</li>
    </ul>
    <h1>Symfony</h1>
    <ul>
        <li>dossier <code>/app</code> : configuration</li>
        <li>dossier <code>/src</code> : Bundles (templates, rooting, controller...)</li>
        <li>dossier <code>/web</code> : libraries, images, logo, stylesheets...</li>
    </ul>

{% endblock %}
