{# src/XbrosBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="fluid-row" id="header">

        <h1 class="title toc-ignore">xbros</h1>

    </div>

    <p>Welcome to xbros!</p>
    <p>This is our sandbox for web development learning. Have a look at some projects below.</p>
    <div id="rubik.js" class="section level1">
        <h1>rubik.js</h1>
        <p>A simple JavaScript Rubik’s cube.</p>
        <p>See a demo <a href="#rubik.php">here</a>.</p>
        <p>View the project on <a href="https://github.com/xbros/rubik">GitHub</a>.</p>
    </div>

{% endblock %}