{# src/XbrosBundle/Resources/views/Default/index.html.twig //Note: cette ligne est un commentaire twig #}

{% extends "::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block head %}
    {% if app.session.flashbag.get('notice') is not empty %}
        <style>
            #errors
            {
                padding-top: 30px;
            }
        </style>
    {% endif %}
{% endblock %}

{% block body %}

    {% if app.session.flashbag.get('notice') is not empty %}
        <div id="errors">
            {% for message in app.session.flashbag.get('notice') %}
                <div class="alert alert-info" role="alert">
                    <span class="glyphicon glyphicon-ok-sign"></span>
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="fluid-row" id="header">

        <h1 class="title toc-ignore">xbros</h1>

    </div>

    <!--  -->
    <p>Welcome to xbros!</p>
    <p>This is our sandbox for web development learning. Have a look at some projects below.</p>
    <div id="rubik.js" class="section level1">
        <h1>rubik.js</h1>
        <p>A simple JavaScript Rubik’s cube.</p>
        <p>See a demo <a href="{{ path('xbros_projectrubik') }}">here</a>.</p>
        <p>View the project on <a href="https://github.com/xbros/rubik">GitHub</a>.</p>
    </div>

{% endblock %}
