{# src/XbrosBundle/Resources/views/ressources.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Resources
{% endblock %}

{% block body %}

    <div class="fluid-row" id="header">

    <h1 class="title toc-ignore">Resources</h1>

    </div>


    <div id="web" class="section level1">
        <h1>Web</h1>
        <p>Symfony:</p>
        <ul>
            <li><a href="http://symfony.com/" class="uri">http://symfony.com/</a></li>
        </ul>
        <p>Markdown:</p>
        <ul>
            <li><a href="http://rmarkdown.rstudio.com" class="uri">http://rmarkdown.rstudio.com</a></li>
            <li><a href="http://rmarkdown.rstudio.com/authoring_pandoc_markdown.html" class="uri">http://rmarkdown.rstudio.com/authoring_pandoc_markdown.html</a></li>
        </ul>
        <p>Bootstrap:</p>
        <ul>
            <li><a href="http://getbootstrap.com/" class="uri">http://getbootstrap.com/</a></li>
            <li><a href="https://bootswatch.com/" class="uri">https://bootswatch.com/</a></li>
            <li><a href="http://work.smarchal.com/twbscolor" class="uri">http://work.smarchal.com/twbscolor</a></li>
            <li><a href="http://fontawesome.io/" class="uri">http://fontawesome.io/</a></li>
            <li><a href="http://glyphsearch.com/" class="uri">http://glyphsearch.com/</a></li>
        </ul>
        <p>HTML &amp; CSS:</p>
        <ul>
            <li><a href="https://openclassrooms.com/courses/apprenez-a-creer-votre-site-web-avec-html5-et-css3/" class="uri">https://openclassrooms.com/courses/apprenez-a-creer-votre-site-web-avec-html5-et-css3/</a></li>
            <li><a href="http://www.normansblog.de/demos/browser-support-checklist-css3/" class="uri">http://www.normansblog.de/demos/browser-support-checklist-css3/</a></li>
            <li><p><a href="http://caniuse.com/" class="uri">http://caniuse.com/</a></p></li>
            <li><p><a href="http://static.debray-jerome.fr/49/styles/imagesrondes.css" class="uri">http://static.debray-jerome.fr/49/styles/imagesrondes.css</a></p></li>
        </ul>
        <p>PHP MySQL:</p>
        <ul>
            <li><a href="https://openclassrooms.com/courses/concevez-votre-site-web-avec-php-et-mysql/" class="uri">https://openclassrooms.com/courses/concevez-votre-site-web-avec-php-et-mysql/</a></li>
        </ul>
        <p>Javascript:</p>
        <ul>
            <li><a href="https://openclassrooms.com/courses/dynamisez-vos-sites-web-avec-javascript" class="uri">https://openclassrooms.com/courses/dynamisez-vos-sites-web-avec-javascript</a></li>
        </ul>
        <p>Node.js:</p>
        <ul>
            <li><a href="https://openclassrooms.com/courses/des-applications-ultra-rapides-avec-node-js" class="uri">https://openclassrooms.com/courses/des-applications-ultra-rapides-avec-node-js</a></li>
        </ul>
    </div>

{% endblock %}
