{# src/XbrosBundle/Resources/views/simon-music.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Music
{% endblock %}

{% block body %}

    <div class="container">
        <h1>Simon music</h1>

        <a class="btn btn-default" href="https://soundcloud.com/simon-todeschini" target="_blank"><i class="fa fa-soundcloud"></i> SoundCloud</a>
        <a class="btn btn-default" href="https://www.paypal.me/SimonTodeschini/" target="_blank"><i class="fa fa-cc-paypal"></i> Donation - PayPal</a>

    </div>

{% endblock %}
