.quatre
{
    font-size: 25px;
}

h2
{
    margin-top: 50px;
}

.player, .multiple-buttons
{
    display: inline-block;
}

.main-container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

code {
    color: inherit;
    background-color: rgba(0, 0, 0, 0.04);
}

img {
    max-width:100%;
    height: auto;
}
